.root {
    max-width: 370px;
    flex-basis: 100%;
    padding: 30px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    box-shadow: 3px 3px 7px #dddddd;
    background-color: #ffffff;
    color: #0a1b49;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
    margin-bottom: 30px;
    color: #092064;
}

.result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    color: #092064;
}

/*.copy:after {*/
/*    display: block;*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 2px solid #999;*/
/*    position: absolute;*/
/*    bottom: -8px;*/
/*    right: -9px;*/
/*    border-radius: 3px;*/
/*    background-color: #ffffff;*/
/*}*/

.copied {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #991212;
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    animation-name: moveToTop;
    animation-duration: .25s;
    animation-iteration-count: 1;
}

@keyframes moveToTop {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}

.option {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.option-name {
    padding-right: 10px;
    color: #092064;
    font-family: 'Courgette', cursive;
}

.option-label {
    cursor: pointer;
    color: #092064;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: 'Courgette', cursive;
}